body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:lightsteelblue;
  
}

html{
    background-image: url(https://images.pexels.com/photos/997443/pexels-photo-997443.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
}

/*
 * Formatting the header area
 */

header {
  background-color:black;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
  
}

a, a:hover, a:visited, a:link, a:active{
  text-decoration:none;
}

img{
  width: 20%;
  height: 20%;
}

header h1.logo {
  margin: 0;
  border: none;
  font-size: 1.7em;
  color:red;
  transition: 0.2s;
  text-transform: uppercase;
  float: left;
  text-decoration: none;
}

header h1.logo:hover{
  color:brown;
  text-decoration: none;
}

/*
 * Center the body content
 */

.container {
  width: 1200px;
  margin: 0 auto;
  text-decoration: none;
}

div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
          text-decoration: none;
}

div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
          text-decoration: none;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
  text-decoration: none;
}


h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
  text-decoration: none;
}

.menu {
  float: right;
  margin-top: 8px;
  text-decoration: none;
}

.menu li {
  display: inline;
  text-decoration: none;
}

.menu li + li {
  margin-left: 35px;
  transition: 0.3s;
  text-decoration: none;
}

.menu li a{
  text-decoration: none;
  color:grey;
  transition: 0.3s;
  text-decoration: none;
}

.menu li a:hover{
  color:orange;
  text-decoration: none;
}


