<!DOCTYPE html>
<html>
  <head>
    <style>

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
      </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src={{cdn_js | safe}}></script>
        <script type="text/javascript" src={{cdn_js2 | safe}}></script>

      <title>Flask App</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
      <meta name="viewport" content="width=device-width, inital-scale=1"/>
  </head>
  <body onload="myFunction()" style="margin:0;">

    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
    <header>
      <div class="container">
        <h1 class="logo"><a href="{{url_for('home')}}" style="text-decoration:none;">Khan's Workout</a></h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('tanjil') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">Programming</a></li>
          </ul>
        </nav></strong>
      </div>

    </header>
    <script>
      
      var myVar;
      document.body.style.zoom="75%"

      function myFunction() {
        myVar = setTimeout(showPage, 00);
      }

      function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
      }
      </script>
<div class="about">
    <h1>This is the Programming Page!</h1>
    <p>I maked this page to make a practise of my skills on the programming.</p>
    <p>This was made with python, html, css, which was deployed with heroku.</p>
  <h4>Webmap</h4>
    <p>That was build with folium via python<br>The following web map consists on representations of volcanoes on USA.</p>
    <button type="button" class="btn btn-outline-dark"><a href="{{url_for('webmap')}}">Webmap</a></button>
  <h4>Data Collector Web App</h4>
  <p>The following application was build with PostGreSQL. Can send emails and calculate the average of the height.</p>
    <button type="button" class="btn btn-outline-dark"><a href="https://tanjildatabase.herokuapp.com/">Collector Website</a></button>
  <h4>Meteorology on Portugal</h4>
  <p>That was builded too with folium via Python.<br>Was web scrapped with this <a href="https://www.otempo.pt/" target="_blank">site</a> for getting the data of the max temperatures.<br>Was used the requests to extract data and uses the beautiful soup 4</p>
    <button type="button" class="btn btn-outline-dark"><a href="{{url_for('met')}}">Meteorology</a></button>
    <p> </p><br>
  <p>Check your ip <a href="{{url_for('ip')}}">here!</a></p>
  <br>
    <h3>Google Stock Market</h3>
  {{script1 | safe}}
  {{div1 | safe}}
  <h3>Microsoft Stock Market</h3>
  {{script2 | safe}}
  {{div2 | safe}}
</div>
