{%extends "layout.html"%}
{%block content%}
<div class="main">
    <h1>Thanks for visiting my page!</h1>
    <p>I am Tanjil Khan, i am 14 years old. I live in Portugal 🇵🇹</p>
    <p>I did this website for hobby.<br>This site had a purpose at the beginning that was just to practice my learning on <a href="{{ url_for('about') }}">programming</a>. You can check the pages that i did on the top corner. Also you can follow me on <a href="https://instagram.com/tskworkout">Instagram</a>! I use <a href="https://steamcommunity.com/id/tanjil">steam</a> and i play sometimes counter strike. Feel free to add me! And was great if you subscribe on my <a href="https://www.youtube.com/channel/UC4Om3AcBOGDA2uctoG4m3YQ?view_as=subscriber" target="_blank">channel</a>, on this moment i dont have any content.</p>
</div>

{%endblock%}