{%extends "layout.html"%}
{%block content%}
<div class="main">
    <h1>Thanks for visiting my page!</h1>
    <p>I am Tanjil Khan, i am 14 years old. I live in Portugal 🇵🇹</p>
    <p>I did this website for hobby.<br>This site had a purpose at the beginning that was just to practice my learning and <a href="{{ url_for('about') }}">programming</a>. And i used this site also as a blog. You can check the pages that i did on the top corner. The workout page is on in progress. Also you can follow me on <a href="https://instagram.com/tskworkout">Instagram</a>! I use <a href="https://steamcommunity.com/id/tanjil">steam</a> and i play sometimes counter strike. Feel free to add me!</p>
</div>

{%endblock%}