{%extends "layout.html"%}
{%block content%}

<div class="content">
    <h1>Tanjil's Website</h1>
    <h3>Free Spotify Premium</h3>
    <p>Get free spotify premium for free! Just send request in my email <strong>tanjilxd@gmail.com</strong> and i will give you in soon!</p>
    <p>Unlimited high-quality streaming access to over 50 million songs.</div>
    <p>Play music without an internet connection.</p>
    <p>Travel abroad with no limitations.</p>
    <p>No ad interruption.</p>
    <p>Unlimited skips.</p>
</div>

{%endblock%}