{%extends "layout.html"%}
{%block content%}
<div class="main">
    <h1>Hello!</h1>
    <p>My name is Tanjil, i am 14 years old.</br>I love to go workout and my hobbies are
        reading books and go walking.<br>
        <p>I was born on july 8, 2005</p>
        <h4>Social Media</h4>
        <p>➡️ <a href="https://www.instagram.com/workoutakken/" target="_blank">My workout page</a> <a href="https://www.instagram.com/workoutakken/" class="fa fa-instagram" target="_blank"></a> </p>
</div>
{%endblock%}