<html>
	<head>
		<title>POLIDO FOTOS</title>
	</head>

<body>
	<img src="https://media.discordapp.net/attachments/776381451285299201/838446357706178580/MEGAIMPORTANTE.JPG">
	<img src="https://media.discordapp.net/attachments/776381451285299201/838446342363676692/IMPORTANTE2.JPG?width=826&height=654">
	<img src="https://media.discordapp.net/attachments/776381451285299201/838446325926199296/IMPORTANTE3.JPG">
	<h1>BRO MOMENTO, BRO MOMENTO, AQUI TEMOS UN, BRO MOMENTO, UN BRO MOMENT, UN... UN BOH... BRO MOMENTO.</h1>
	<img src="https://media.discordapp.net/attachments/773833223322337290/838444330145284146/bm1.gif">
</body>
</html>